
@{
    ViewBag.Title = "Index";
}

@*<a href="#" id="btnInit" class="btn btn-secondary">Initialise database!</a>*@  
<<div class="row"></div>
<div id='calendar' style="width:65%"></div>
<div class="row"></div> 
@section scripts{
<script>

	$(document).ready(function() {

		$('#calendar').fullCalendar({
		    header: {
		        left: 'prev,next today',
		        center: 'title',
		        right: 'month,agendaWeek,agendaDay'
		    },
		    defaultView: 'month',
		    editable: true,
		    allDaySlot: false,
		    selectable: true,
		    slotMinutes: 15,
		    events: '/Home/GetDiaryEvents/',
		    eventClick: function (calEvent, jsEvent, view) {
		        alert('You clicked on event id: ' + calEvent.id
                    + "\nSpecial ID: " + calEvent.someKey
                    + "\nAnd the title is: " + calEvent.title);

		    },

		    eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc) {
		        if (confirm("Confirm move?")) {
		            UpdateEvent(event.id, event.start);
		        }
		        else {
		            revertFunc();
		        }
		    },

		    eventResize: function (event, dayDelta, minuteDelta, revertFunc) {

		        if (confirm("Confirm change appointment length?")) {
		            UpdateEvent(event.id, event.start, event.end);
		        }
		        else {
		            revertFunc();
		        }
		    },



		    dayClick: function (date, allDay, jsEvent, view) {
		        $('#eventTitle').val("");
		        $('#eventDate').val($.fullCalendar.formatDate(date, 'dd/MM/yyyy'));
		        $('#eventTime').val($.fullCalendar.formatDate(date, 'HH:mm'));
		        ShowEventPopup(date);
		    },

		    viewRender: function (view, element) {

		        if (!CalLoading) {
		            if (view.name == 'month') {
		                $('#calendar').fullCalendar('removeEventSource', sourceFullView);
		                $('#calendar').fullCalendar('removeEvents');
		                $('#calendar').fullCalendar('addEventSource', sourceSummaryView);
		            }
		            else {
		                $('#calendar').fullCalendar('removeEventSource', sourceSummaryView);
		                $('#calendar').fullCalendar('removeEvents');
		                $('#calendar').fullCalendar('addEventSource', sourceFullView);
		            }
		        }
		    }
			
		});
		CalLoading = false;
	});
	$('#btnInit').click(function () {
	    $.ajax({
	        type: 'POST',
	        url: "/Availability/Init",
	        success: function (response) {
	            if (response == 'True') {
	                $('#calendar').fullCalendar('refetchEvents');
	                alert('Database populated! ');
	            }
	            else {
	                alert('Error, could not populate database!');
	            }
	        }
	    });
	});
</script>
    }

<style>
    body {
        margin: 40px 10px;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
    }

    #calendar {
        max-width: 900px;
        margin: 0 auto;
    }
</style>